{
  "authorization": {
    "sudo": {
      "users": ["deploy"]
    }
  },

  "postgresql": {
    "password": {
      "postgres": "SECRET"
    }
  },

  "nginx": {
    "version": "1.8.1"
  },

  "rvm": {
    "user_installs": [
      {
        "user": "deploy",
        "default_ruby": "2.2.2",
        "rubies": ["2.2.2"]
      }
    ]
  },

  "run_list": [
    "recipe[chef-solo-search::default]",
    "recipe[users::sysadmins]",
    "recipe[postgresql::server]",
    "recipe[rvm::default]",
    "recipe[rvm::user]",
    "recipe[nginx-server::default]"
  ],

  "automatic": {
    "ipaddress": "148.251.27.154"
  }
}