{
  "authorization": {
    "sudo": {
      "users": ["<USERNAME>"],
      "passwordless": true
    }
  },

  "postgresql": {
    "password": {
      "postgres": "<SECRET>"
    }
  },

  "rvm": {
    "user_installs": [
      {
        "user": "<USERNAME>",
        "default_ruby": "<RUBY_VERSION>",
        "rubies": ["<RUBY_VERSION>"]
      }
    ]
  },

  "application": {
    "database_user": "<USERNAME>",
    "database_user_password": "<SECRET>",
    "database_name": "<NAMEDATABSE>"
  },

  "run_list": [
    "recipe[openssl::default]",
    "recipe[build-essential::default]",
    "recipe[chef-solo-search::default]",
    "recipe[users::sysadmins]",
    "recipe[sudo::default]"
    "recipe[postgresql::server]",
    "recipe[rvm::default]",
    "recipe[rvm::user]",
    "recipe[nginx-server::default]"
  ],

  "automatic": {
    "ipaddress": "148.251.27.154"
  }
}